<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="URL" value="https://staging.fleetonline.net" />
	<parameter name="UserName" value="test_141@sst.com" />
	<parameter name="Password" value="Pass123!" />

	<test thread-count="1" name="SpeedshieldAssessment">
		<parameter name="FirstName" value="Operator" />
		<parameter name="LastName" value="Card1236" />
		<parameter name="PersonnelNumber" value="1236" />
		<parameter name="ExpectedSuccessMessage"
			value="Operator Details updated successfully." />
		<parameter name="VerticalScroll" value="400" />
		<classes>
			<class name="Speedshield.MavenEclipseProject.TestCase1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
